In [1]:
import pandas as pd

In [2]:
distances_subs = pd.read_csv(
    "../logs/best_jm_z24/version_30/distances_subs.csv"
)
print("domains:", distances_subs.domain.unique())
print()
print("feature:", distances_subs.feature.unique())
print()
print("segments:", distances_subs.segment.unique())
print()
print("sub pops:", distances_subs.sub_pop.unique())
distances_subs.head()

domains: ['creativity' 'structure' 'frequency' 'participation_probs'
 'participation_rates' 'transitions' 'timing']

feature: ['homogeneity' 'conservatism' 'duration' 'home based' 'lengths'
 'agg. participation' 'participation' 'joint participation'
 'enumerated participation rates' 'joint participation rate' '2-gram'
 '3-gram' 'start times' 'end times' 'durations' 'start-durations']

segments: ['all' 'total duration' 'first act home' 'last act home'
 'sequence lengths' 'home' 'work' 'other' 'education' 'visit' 'shop'
 'escort' 'medical' 'home+home' 'home+other' 'home+work' 'home+shop'
 'home+escort' 'home+visit' 'home+education' 'other+other' 'escort+escort'
 'shop+other' 'home+medical' 'other+escort' 'work+other' 'shop+shop'
 'other+visit' 'work+escort' 'shop+escort' 'shop+visit' 'work+work'
 'shop+work' 'escort+visit' 'visit+visit' 'shop+medical' 'work+visit'
 'other+medical' 'other+education' 'education+escort' 'escort+medical'
 'education+visit' 'work+medical' 'visit+medical' 'medical+medical'
 'shop+education' 'education+education' 'education+medical'
 'work+education' 'work+shop' 'medical+other' 'medical+education'
 'medical+shop' 'visit+escort' 'medical+visit' 'medical+escort'
 'medical+work' 'visit+education' 'other+shop' 'escort+education' 'home0'
 'home1' 'other0' 'work0' 'shop0' 'home2' 'escort0' 'visit0' 'education0'
 'other1' 'escort1' 'medical0' 'home3' 'shop1' 'work1' 'other2' 'escort2'
 'visit1' 'home4' 'work2' 'shop2' 'escort3' 'other3' 'home5' 'escort4'
 'medical1' 'visit2' 'work3' 'shop3' 'escort5' 'other4' 'work4' 'other5'
 'education1' 'escort6' 'education2' 'home6' 'work5' 'medical2' 'visit3'
 'other>home' 'home>other' 'home>work' 'work>home' 'shop>home' 'home>shop'
 'home>escort' 'escort>home' 'visit>home' 'home>visit' 'home>education'
 'education>home' 'home>medical' 'medical>home' 'other>other'
 'escort>escort' 'home>home' 'shop>shop' 'work>work' 'other>shop'
 'escort>work' 'escort>other' 'other>escort' 'shop>other' 'work>escort'
 'other>visit' 'shop>visit' 'escort>shop' 'escort>visit' 'work>other'
 'work>shop' 'visit>shop' 'visit>other' 'medical>shop' 'visit>escort'
 'shop>escort' 'work>visit' 'other>work' 'visit>visit' 'shop>work'
 'education>escort' 'education>visit' 'education>other' 'escort>education'
 'medical>other' 'escort>medical' 'work>medical' 'medical>escort'
 'shop>medical' 'visit>work' 'medical>visit' 'medical>work'
 'other>medical' 'medical>medical' 'visit>education' 'education>education'
 'visit>medical' 'education>medical' 'education>shop' 'education>work'
 'medical>education' 'home>other>home' 'home>work>home' 'home>shop>home'
 'home>escort>home' 'home>visit>home' 'home>education>home'
 'other>home>other' 'escort>home>escort' 'home>medical>home'
 'shop>home>other' 'other>home>shop' 'work>home>other' 'other>home>escort'
 'other>other>home' 'home>other>other' 'home>escort>escort'
 'escort>escort>home' 'shop>shop>home' 'home>shop>shop'
 'escort>home>other' 'shop>home>shop' 'home>escort>work' 'other>shop>home'
 'home>other>shop' 'other>home>visit' 'home>escort>other' 'home>work>work'
 'work>home>work' 'other>escort>home' 'work>escort>home' 'work>work>home'
 'work>home>escort' 'escort>home>shop' 'shop>home>escort' 'work>home>shop'
 'visit>home>other' 'other>home>work' 'other>visit>home' 'home>shop>other'
 'education>home>other' 'shop>other>home' 'shop>visit>home'
 'shop>home>visit' 'escort>other>home' 'other>other>other'
 'escort>work>home' 'home>escort>shop' 'home>other>visit' 'work>work>work'
 'home>work>shop' 'escort>work>escort' 'escort>visit>home'
 'home>escort>visit' 'work>other>home' 'home>other>escort'
 'home>shop>visit' 'home>medical>shop' 'home>visit>other'
 'escort>escort>escort' 'work>shop>home' 'home>visit>shop'
 'escort>shop>home' 'home>work>other' 'medical>shop>home'
 'escort>home>work' 'work>home>visit' 'medical>home>other'
 'escort>home>visit' 'shop>escort>home' 'work>visit>home'
 'visit>home>shop' 'visit>shop>home' 'home>work>escort'
 'escort>other>escort' 'visit>home>visit' 'visit>other>home'
 'shop>shop>shop' 'home>visit>visit' 'home>work>visit' 'home>visit>escort'
 'other>work>home' 'visit>visit>home' 'home>other>work' 'other>home>home'
 'education>escort>home' 'other>home>medical' 'shop>home>medical'
 'home>home>other' 'shop>home>work' 'shop>work>home' 'visit>escort>home'
 'education>visit>home' 'home>shop>escort' 'visit>other>visit'
 'home>education>visit' 'visit>home>escort' 'home>education>escort'
 'home>education>other' 'home>escort>education' 'visit>shop>visit'
 'education>other>home' 'medical>home>shop' 'work>home>home'
 'escort>shop>escort' 'medical>home>escort' 'work>shop>work'
 'escort>visit>escort' 'home>medical>other' 'education>home>escort'
 'home>shop>work' 'shop>other>other' 'work>other>work'
 'escort>home>medical' 'home>work>medical' 'other>other>shop'
 'visit>escort>escort' 'visit>escort>visit' 'escort>education>escort'
 'home>home>home' 'escort>escort>shop' 'escort>escort>visit'
 'home>escort>medical' 'home>shop>medical' 'medical>escort>home'
 'medical>other>home' 'other>escort>escort' 'other>shop>other'
 'other>work>other' 'shop>medical>home' 'visit>home>work'
 'escort>escort>other' 'escort>other>shop' 'home>visit>work'
 'medical>visit>home' 'other>shop>shop' 'shop>home>home'
 'shop>other>escort' 'escort>home>home' 'escort>other>other'
 'home>medical>visit' 'other>shop>escort' 'shop>shop>visit'
 'escort>education>home' 'escort>escort>work' 'escort>medical>home'
 'escort>shop>other' 'escort>shop>visit' 'medical>home>medical'
 'medical>home>visit' 'other>other>escort' 'visit>other>other'
 'visit>work>visit' 'medical>shop>shop' 'medical>work>home'
 'visit>shop>escort' 'work>home>medical' 'work>medical>home'
 'education>home>shop' 'escort>medical>escort' 'escort>shop>shop'
 'escort>work>other' 'escort>work>shop' 'home>home>shop'
 'home>medical>escort' 'home>medical>medical' 'home>medical>work'
 'home>other>medical' 'home>visit>education' 'medical>medical>home'
 'medical>other>shop' 'other>escort>other' 'shop>escort>escort'
 'shop>shop>other' 'visit>education>visit' 'visit>visit>visit'
 'work>escort>escort' 'escort>other>visit' 'escort>visit>other'
 'escort>visit>shop' 'escort>work>visit' 'medical>home>work'
 'medical>shop>other' 'other>escort>shop' 'other>medical>home'
 'other>other>visit' 'other>visit>escort' 'other>visit>shop'
 'shop>other>shop' 'shop>shop>escort' 'shop>visit>other' 'shop>work>other'
 'visit>work>home' 'work>medical>work' 'work>other>other'
 'work>work>other' 'work>work>shop' 'escort>escort>medical'
 'escort>work>work' 'home>home>escort' 'home>home>visit'
 'other>shop>visit' 'shop>escort>other' 'shop>other>visit'
 'shop>visit>shop' 'visit>escort>other' 'visit>escort>shop'
 'visit>home>home' 'visit>other>escort' 'visit>shop>other'
 'visit>shop>shop' 'visit>visit>escort' 'visit>visit>shop'
 'education>education>education' 'education>education>home'
 'education>escort>other' 'education>escort>visit' 'education>home>home'
 'escort>visit>visit' 'home>education>education' 'medical>other>other'
 'medical>work>other' 'other>medical>other' 'other>visit>other'
 'shop>escort>shop' 'shop>escort>visit' 'shop>visit>escort'
 'shop>work>escort' 'visit>escort>work' 'visit>medical>home'
 'visit>other>shop' 'work>escort>shop' 'work>work>escort'
 'education>home>education' 'education>home>medical'
 'education>home>visit' 'education>home>work' 'education>medical>escort'
 'education>other>escort' 'education>shop>shop' 'education>visit>escort'
 'education>work>home' 'escort>medical>shop' 'escort>visit>work'
 'home>education>medical' 'home>education>shop' 'home>education>work'
 'home>home>work' 'home>visit>medical' 'medical>escort>shop'
 'medical>home>education' 'medical>home>home' 'medical>medical>medical'
 'medical>other>escort' 'medical>work>escort' 'other>escort>visit'
 'other>medical>shop' 'other>other>medical' 'other>other>work'
 'other>work>escort' 'other>work>medical' 'other>work>work'
 'shop>escort>work' 'shop>medical>shop' 'shop>other>medical'
 'shop>shop>medical' 'shop>visit>medical' 'shop>visit>visit'
 'shop>work>shop' 'visit>home>medical' 'visit>shop>work'
 'visit>visit>other' 'work>escort>other' 'work>escort>visit'
 'work>escort>work' 'work>medical>other' 'work>medical>shop'
 'work>medical>visit' 'work>other>escort' 'work>shop>shop'
 'work>visit>escort' 'work>visit>work' 'work>work>visit'
 'education>escort>escort' 'education>shop>visit' 'work>visit>other'
 'work>shop>visit' 'other>visit>visit' 'visit>home>education'
 'education>education>visit' 'shop>work>visit' 'medical>education>visit'
 'education>other>other' 'work>other>visit' 'education>visit>visit'
 'other>shop>work' 'education>shop>other' 'home>home>education'
 'visit>visit>work' 'home>home>medical' 'education>shop>home'
 'medical>escort>escort' 'visit>work>work' 'shop>work>work'
 'visit>work>other' 'work>visit>visit' 'work>home>education'
 'shop>visit>work' 'escort+other' 'escort+shop' 'escort+work' 'other+work'
 'visit+work' 'education+work' 'work6' 'work7' 'home7' 'other>education'
 'work>education' 'shop>education' 'work>shop>escort'
 'escort>escort>education' 'medical>visit>other' 'education>medical>home'
 'visit>medical>visit' 'escort>other>work' 'home>other>education'
 'home>work>education' 'medical>shop>escort' 'medical>visit>medical'
 'other>education>home' 'other>work>shop' 'work>education>home'
 'work>other>shop' 'education>education>escort' 'education>other>shop'
 'escort>education>shop' 'escort>medical>visit' 'escort>medical>work'
 'escort>work>medical' 'home>medical>education' 'home>shop>education'
 'medical>education>home' 'medical>escort>other' 'medical>medical>shop'
 'medical>shop>visit' 'medical>visit>shop' 'medical>work>shop'
 'other>home>education' 'other>medical>medical' 'other>shop>medical'
 'shop>education>home' 'shop>escort>medical' 'shop>medical>other'
 'visit>medical>escort' 'visit>medical>work' 'visit>other>work'
 'visit>shop>medical' 'visit>visit>medical' 'work>shop>medical'
 'work>shop>other' 'work>visit>shop' 'work>education>education'
 'education>work>work' 'visit+other' 'education+other' 'education+shop'
 'visit+shop' 'other+home']

sub pops: ['gender=M' 'gender=F' 'age=50' 'age=30' 'age=1' 'age=5' 'age=3' 'age=40'
 'age=65' 'age=70' 'age=60' 'age=0' 'age=26' 'age=11' 'age=85' 'age=16'
 'age=21' 'age=18' 'age=17' 'age=80' 'age=19' 'age=75' 'age=20'
 'car_access=yes' 'car_access=no' 'car_access=unknown'
 'work_status=unemployed' 'work_status=employed' 'work_status=student'
 'income=1' 'income=5' 'income=3' 'income=2' 'income=4']

,domain,feature,segment,sub_pop,feature count,observed,best_jm_z24,distance
0,creativity,homogeneity,all,gender=M,18319.0,0.350947,0.350947,prob. not unique
1,creativity,conservatism,all,gender=M,18319.0,0.000000,0.000000,prob. conservative
2,structure,duration,total duration,gender=M,18319.0,1.000000,0.157678,EMD
3,structure,home based,first act home,gender=M,18319.0,1.000000,0.032483,EMD
4,structure,home based,last act home,gender=M,18319.0,1.000000,0.097958,EMD

In [3]:
distances_subs.set_index(["domain", "feature", "sub_pop"]).loc["timing"]

                            segment  feature count  observed  best_jm_z24  \
feature         sub_pop
start times     gender=M      home0        18319.0  0.000000     0.003086
                gender=M      home1        18314.0  0.625418     0.028188
                gender=M     other0         7210.0  0.532486     0.054715
                gender=M      work0         4857.0  0.358418     0.075064
                gender=M      shop0         3893.0  0.525128     0.047444
...                             ...            ...       ...          ...
start-durations income=4       shop         1987.0  0.592167     0.052715
                income=4     escort         1605.0  0.574130     0.116118
                income=4      visit          936.0  0.700732     0.068727
                income=4  education          560.0  0.659356     0.154686
                income=4    medical          260.0  0.572596     0.060665

                         distance
feature         sub_pop
start times     gender=M      EMD
                gender=M      EMD
                gender=M      EMD
                gender=M      EMD
                gender=M      EMD
...                           ...
start-durations income=4      EMD
                income=4      EMD
                income=4      EMD
                income=4      EMD
                income=4      EMD

[3218 rows x 5 columns]

In [4]:
from caveat.evaluate.distance.wasserstein import emd
from caveat.evaluate.features.frequency import activity_frequencies

In [5]:
sample = pd.read_csv("../logs/best_jm_z24/version_30/synthetic_schedules.csv")
target = pd.read_csv("../tmp/nts_home_schedules.csv")
sample.head()

   Unnamed: 0  pid        act  start   end  duration
0           0    0       home      0   675       675
1           1    0  education    675   857       182
2           2    0       home    857  1305       448
3           3    1       home      0   479       479
4           4    1       work    479   743       264

In [6]:
freqs = activity_frequencies(sample)
support, density = freqs["work"]
tsupport, tdensity = activity_frequencies(target)["work"]
emd((support, density), (tsupport, tdensity))

0.03128210155028198

In [7]:
from caveat.evaluate.describe.features import (
    average,
    average_weight,
    feature_weight,
    average_density,
)

In [8]:
average_density(freqs)

home         0.856425
education    0.016305
work         0.065564
shop         0.018199
other        0.022943
visit        0.015936
medical      0.000595
escort       0.004035
dtype: float64

In [9]:
tdensity

array([0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 2.000e+00,
       3.000e+00, 3.000e+00, 3.000e+00, 3.000e+00, 3.000e+00, 3.000e+00,
       4.000e+00, 9.000e+00, 9.000e+00, 9.000e+00, 1.600e+01, 2.300e+01,
       3.700e+01, 5.300e+01, 1.030e+02, 1.460e+02, 2.120e+02, 3.320e+02,
       6.000e+02, 6.870e+02, 8.420e+02, 1.094e+03, 1.548e+03, 1.871e+03,
       2.454e+03, 2.942e+03, 3.758e+03, 4.353e+03, 5.106e+03, 5.619e+03,
       6.425e+03, 6.652e+03, 6.901e+03, 7.063e+03, 7.284e+03, 7.356e+03,
       7.454e+03, 7.500e+03, 7.552e+03, 7.570e+03, 7.571e+03, 7.614e+03,
       7.654e+03, 7.599e+03, 7.553e+03, 7.546e+03, 7.566e+03, 7.519e+03,
       7.497e+03, 7.497e+03, 7.479e+03, 7.359e+03, 7.221e+03, 7.138e+03,
       7.040e+03, 6.881e+03, 6.691e+03, 6.552e+03, 6.385e+03, 6.078e+03,
       5.599e+03, 5.218e+03, 4.721e+03, 4.212e+03, 3.627e+03, 3.181e+03,
       2.589e+03, 2.274e+03, 1.874e+03, 1.678e+03, 1.416e+03, 1.295e+03,
       1.138e+03, 1.049e+03, 9.320e+02, 8.310e+02, 7.330e+02, 6.890e+02,
       6.110e+02, 5.600e+02, 4.920e+02, 4.550e+02, 3.820e+02, 2.820e+02,
       2.040e+02, 1.620e+02, 1.300e+02, 1.000e+02, 6.400e+01, 4.500e+01],
      dtype=float32)

In [10]:
import numpy as np

In [11]:
np.arange(0, 1, 0.1)

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])

In [2]:
attributes = pd.read_csv("../tmp/nts_home_attributes.csv")
attributes.head()

,pid,age,gender,ethnicity,education,license,car_access,work_status,area,income,hh_size,hh_composition,hh_children,hh_cars,hh_bikes,hh_motorcycles
0,0,50,M,white,N,yes,yes,unemployed,urban,1,1,1adult,0,1.0,0,0.0
1,1,50,M,white,N,yes,yes,unemployed,urban,1,1,1adult,0,1.0,0,0.0
2,2,50,M,white,N,yes,yes,unemployed,urban,1,1,1adult,0,1.0,0,0.0
3,3,50,M,white,N,yes,yes,unemployed,urban,1,1,1adult,0,1.0,0,0.0
4,4,50,M,white,N,yes,yes,unemployed,urban,1,1,1adult,0,1.0,0,0.0

In [3]:
age_mapping = {
    1: 0,
    2: 1,
    3: 3,
    4: 5,
    5: 11,
    6: 16,
    7: 17,
    8: 18,
    9: 19,
    10: 20,
    11: 21,
    12: 26,
    13: 30,
    14: 40,
    15: 50,
    16: 60,
    17: 65,
    18: 70,
    19: 75,
    20: 80,
    21: 85,
}
age_to_idx = {v: k for k, v in age_mapping.items()}
age_group_mapping = {
    1: "<5",
    2: "<5",
    3: "<5",
    4: "5-11",
    5: "11-16",
    6: "16-20",
    7: "16-20",
    8: "16-20",
    9: "16-20",
    10: "20-30",
    11: "20-30",
    12: "20-30",
    13: "30-40",
    14: "40-50",
    15: "50-70",
    16: "50-70",
    17: "50-70",
    18: "70+",
    19: "70+",
    20: "70+",
    21: "70+",
}

attributes["age_group"] = attributes.age.map(age_to_idx).map(age_group_mapping)
attributes.head()
attributes.to_csv("../tmp/nts_home_attributes_groups.csv", index="pid")